* {
	--page-width-max: 1440px;

	--hue-orange: 15;
	--hue-blue: 195;

	--color-orange: hsl(var(--hue-orange), 100%, 43%);
	--color-orange-light: hsl(var(--hue-orange), 100%, 99%);
	--color-orange-dark: hsl(var(--hue-orange), 100%, 20%);
	--color-blue: hsl(var(--hue-blue), 100%, 65%);
	--color-blue-light: hsl(var(--hue-blue), 100%, 95%);
	--color-blue-dark: hsl(var(--hue-blue), 100%, 20%);
	--color-white: hsl(0, 0%, 100%);
	--color-black: hsl(0, 0%, 10%);

	--font-size-xxxxlarge: 4.209rem;
	--font-size-xxxlarge: 3.157rem;
	--font-size-xxlarge: 2.369rem;
	--font-size-xlarge: 1.777rem;
	--font-size-large: 1.333rem;
	--font-size-base: 1rem;
	--font-size-small: 0.75rem;

	--font-weight-boldest: 800;
	--font-weight-bolder: 600;
	--font-weight-reg: 400;
}

/*
 *
 *
 * Base Styles
 *
 *
 */

html {
	font-size: 112.5%;
}

body {
	color: var(--color-black);
	background-color: var(--color-orange-light);
	font-family: "Open Sans", sans-serif;
	font-weight: var(--font-weight-reg);
	line-height: 1.5;
	margin: 0;
}

main {
	position: relative;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: var(--font-weight-bolder);
}

a {
	color: inherit;
}

a > svg {
	pointer-events: none;
}

/*
 *
 *
 * Layout Styles
 *
 *
 */

.l-wrapper {
	max-width: var(--wrapper-width, var(--page-width-max));
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--padding, 16px);
	padding-right: var(--padding, 16px);
	box-sizing: border-box;
}

.l-display-contents {
	display: contents;
}

/*
 *
 *
 * Global Modules
 *
 *
 */

.nav-list,
.cards-list {
	padding-left: 0;
	list-style-type: none;
}

.dialog {
	position: absolute;
	visibility: hidden;
	z-index: 999;
	overflow-y: auto;
}

.dialog-is-open {
	overflow: hidden;
}

.dialog-toggle {
	font-weight: var(--font-weight-regular);
	color: var(--color-orange-dark);
}

/*
	:target for non-JavaScript
	[aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.dialog:target,
.dialog[aria-expanded="true"] {
	visibility: visible;
	outline: none;
}

.dialog:target .dialog-toggle,
.dialog[aria-expanded="true"] .dialog-toggle {
	z-index: 1001;
}

.dialog:target .dialog-content,
.dialog[aria-expanded="true"] .dialog-content {
	z-index: 1000;
}

/*
	We could us `.dialog:target::after`, but
	it wouldn't be clickable.
*/
.dialog:target ~ .backdrop,
.dialog[aria-expanded="true"] ~ .backdrop {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	background: var(--color-black);
	cursor: default;
	opacity: 0.5;
}

@supports (position: fixed) {
	.dialog,
	.dialog:target ~ .backdrop,
	.dialog[aria-expanded="true"] ~ .backdrop {
		position: fixed !important;
	}
}

/*
 *
 *
 * Global State Styles
 *
 *
 */

 .is-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	margin-top: -1px;
	margin-bottom: -1px;
	margin-left: -1px;
	margin-right: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}